@import "../../index";

.product-list-item {
  background-color: $color-white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin-left: 1rem;
  }

  Button {
    margin-right: 1rem;
  }

}