@import "../../index";

.button {
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  font-size: 1rem;
  color: $color-white;
  border: 2px solid $color-primary;
  border-radius: 4px;
  background-color: $color-primary;
  transition-duration: 0.1s;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }

  &:active {
    background-color: $color-primary-dark;
    border-color: $color-primary-dark;
  }

}