/* Colors */
$color-text: #484848;
$color-primary: #5a70a8;
$color-white: #e0e0e0;
$color-background: #b3b3b3;

/* Fonts */
$font-small: 0.7rem;
$font-medium: 0.8rem;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: $color-background;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}
