@import "../../index";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-primary;

  h1, a {
    margin-left: 2rem;
    font-size: var(small);
    text-decoration: none;
    color: $color-white;
  }

  h1 {
    margin-right: 1rem;
  }

  a {
    transition-duration: 0.4s;

    &:hover {
      text-decoration: underline;
    }

  }

}